.git
.idea
.vscode
.env
*.env
.DS_Store
__pycache__/
*.pyc
birdnet/
datasets/
tests/
docs/
model/*.tflite
!model/BirdNET_GLOBAL_6K_V2.4_Model_FP16.tflite
!model/BirdNET_GLOBAL_6K_V2.4_MData_Model_FP16.tflite
BirdSongs/
docker/data/
scripts/gotty-*
scripts/*.db
scripts/*.txt
avian/assets/cutouts/
avian/assets/sketches/
*.flac
